.admin-logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.2s;
}

.admin-logo:hover {
  background: rgba(255, 255, 255, 0.1);
}
